/* base setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d1e5f8;
  line-height: 1.6;
}

/* ลบ .tip-box ออกจากกรอบสีแดงเดิมแล้ว */
footer {
  border: 1px solid red;
  background-color: #ebf8ff;
  margin: 20px;
  padding: 20px;
}

/* header */
header {
  background: linear-gradient(to right, #014ff8, #15bafc);
  padding: 20px;
  color: white;
  box-shadow: 0 2px 4px rgb(255, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  font-size: 50px;
}

.brand-text p {
  font-size: 14px;
}

/* nav */
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
}

/* hero section */
.hero {
  padding: 45px 70px 25px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-icon {
  background: linear-gradient(135deg, #014ff8, #15bafc);
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
  border-radius: 20%;
}

.hero-text h1 {
  color: #00106b;
  font-size: 50px;
}

.hero-text p {
  color: #78787e;
  font-size: 20px;
}

/* main section */
.container {
  width: 100%;
  padding: 0px 60px;
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: white;
  border: 1px solid #2500fa;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(0, 67, 252);
}

.card-header {
  background-color: #70d9f6;
  color: #3b73e1;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-header-icon {
  background-color: #00a6ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  width: 38px;
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.purple-bg {
  background-color: rgb(154, 0, 154);
}
.purple-text {
  color: rgb(154, 0, 154);
}
.card-body {
  padding: 20px;
}

.format-row {
  padding: 8px 0;
  border-bottom: 1px solid rgb(95, 88, 88);
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
  align-items: center;
}

/* Label Styles */
.label {
  background-color: #c82d0b;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}
.b-label { background-color: #ff8c00; }
.strong-label { background-color: #484d03; }
.i-label { background-color: #00aa37; }
.em-label { background-color: #0492ff; }
.u-label { background-color: #002aff; }
.mark-label { background-color: #2f00fe; }
.small-label { background-color: #d900ff; }
.del-label { background-color: #ff00d9; }
.sup-label { background-color: #ff0062; }
.sub-label { background-color: #ff0000; }

/* card2 */
.code-box {
  background-color: #141a29;
  padding: 15px;
  border-radius: 12px;
}

pre {
  font-size: 15px;
  left: 1.6px;
  line-height: 1.8;
  color: #ffffff;
}

.line-no {
  color: #ebf8ff;
  display: inline-block;
  width: 30px;
}

.html-tag {
  color: #c82d0b;
}

/* card3 */
.activity-list {
  list-style: none;
}
.activity-list li {
  margin-bottom: 20px;
}

.check {
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 50%;
  display: inline-flex;
  height: 38px;
  width: 38px;
  justify-content: center;
  align-items: center;
}
.check-blue { background-color: #0033ff; }
.check-red { background-color: #ff0202; }
.check-orange { background-color: #ff8306; }
.check-pink { background-color: #ff00aa; }
.check-green { background-color: #15ff00; }

/* กล่องเกรดความรู้ */
.tip-box {
  background-color: #fffdec;     
  border: 1px solid #ffcc00;    
  border-radius: 12px;           
  margin: 20px;
  padding: 20px;
  
  display: flex;                 
  align-items: flex-start;       
  gap: 20px;                    
}

/* icon */
.tip-box-icon {
  background-color: #ffbb00;    
  font-size: 26px;               
  width: 50px;
  height: 50px;
  border-radius: 50%;            
  display: inline-flex;
  justify-content: center;      
  align-items: center;           
  flex-shrink: 0;               
}



/* หัวข้อเกร็ดความรู้ */
.tip-box h3 {
  color: #8c5200;                
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 2px;
}

/* ข้อความอธิบายด้านใน */
.tip-box p {
  color: #333333;                
  line-height: 1.6;
}
  
/* ตกแต่งแท็ก <code>  */
.tip-box code {
  color: #ff0000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/* -----footer------ */
footer {
  background-color: #0e2a6b; 
  color: #ffffff; 
  padding: 50px 0 20px 0;
  margin: 0; 
  border: none; /* เอาขอบสีแดงเดิมออก */
  font-family: Arial, sans-serif;
}

/*  Layout  Grid  4 colum */
.footer-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr; 
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/*หัวข้อ Footer */
.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* ข้อความอธิบายในคอลัมน์แรก */
.footer-col p {
  font-size: 14px;
  color: #e0eaf5; 
  margin-bottom: 15px;
  line-height: 1.6;
}

/* ลบจุดหน้า List ออก */
.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 15px;
}


/* copyright */
.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.15); /* เส้นกั้นบางๆ */
  font-size: 13px;
  color: #e0eaf5;
}