* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}
body {
  font-family: "IBM Plex Sans Thai", Arial, Helvetica, sans-serif;
  background-color: rgb(255, 205, 205);
  color: darkblue;

  line-height: 1.6;
}

.container {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */
}
/* =================== header ================ */
.site-header {
  /* border: 1px solid rgb(0, 255, 179);
  padding: 15px;
  margin: 15px; */

  background: linear-gradient(90deg, rgb(255, 120, 120), rgb(140, 140, 247));

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}
.brand {
  /* border: 1px solid rgb(132, 0, 255);*/
  padding: 15px;
  margin: 15px;

  display: flex;
  align-items: center;
  gap: 15px;

  color: aliceblue;
}
.brand-icon {
  background-color: aliceblue;

  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 35px;

  border-radius: 50%;
  border: 5px solid rgb(150, 0, 25);
}
.brand-text h2 {
  font-size: 26 px;
}
.brand-text p {
  font-size: 14 px;
  opacity: 0.85;
}
.main-nav {
  /* border: 1px solid rgb(255, 61, 223);
  padding: 15px;
  margin: 15px;*/
}
.nav-list {
  list-style: none;

  display: flex;
  gap: 15px;
  align-items: center;
}
.nav-list a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.nav-list a:hover {
  background: rgba(160, 166, 255, 0.548);
  padding: 12px 16px;
  border-radius: 8px;
  transition: all 0.5s;
}

/* ============= main ======== */
.main-layout {
  /* border: 1px solid rgb(0, 38, 255);
  padding: 15px;
  margin: 15px; */
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 390px;
}

/* let content */
.left-content {
  /* border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* hero */
.hero {
  /* border: 1px solid rgb(21, 255, 0);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  align-items: center;
  justify-content: center;

  background: linear-gradient(100deg, rgb(255, 251, 251), rgb(174, 174, 255));

  border-radius: 12px;
  padding: 24px 36px;
  
    0,
    4px 12px rgba(0, 0, 0, 0.678);
  min-height: 185px;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(255, 0, 0);
}
.hero-text p {
  font-size: 21px;
  color: rgba(255, 0, 0, 0.719);
  font-weight: 700px;
}
.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(252, 68, 68);
  border-radius: 20px;

  object-fit: fill;

}

.card {
 
}

/* right content */
.right-side-bar {
  border: 1px solid rgb(30, 255, 0);
  padding: 15px;
  margin: 15px;
}

/* ============= tip-box ============ */
.tip-box {
  border: 1px solid rgb(255, 0, 234);
  padding: 15px;
  margin: 15px;
}
