* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* สีหลักเว็บไซต์ */
  --primary-color: green;
  --primary-dark-color: rgb(2, 68, 2);
  --seconary-color: rgb(0, 0, 80);

  /* สีข้อความ */
  --sub-text-color: grey;
  --nav-text-color: rgb(39, 38, 38);
  --light-text-color: white;
  /* สีพื้นหลัง */
  --header-bg-color: rgb(235, 255, 217);
  --light-bg-color: white;
  --footer-bg-color: rgb(0, 107, 0);
  /* สีเงา */
  --header-shadow: 0 4px 10px rgb(151, 151, 151);
  --card-shadow: 0 3px 10px rgb(151, 151, 151);
}

html {
  scroll-behavior: smooth;
  /* ถ้าอยากเปลี่ยนขนาดของ rem ต้องเปลี่ยน ขนาดตัวอะกษร */
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;

  background: linear-gradient(
    135deg,
    white 10%,
    rgb(79, 214, 113) 30%,
    rgb(217, 242, 245) 10%
  );
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.header {
  background-color: rgba(210, 255, 151, 0.89);
  box-shadow: 0px 3px 10px rgb(151, 151, 151);

  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10);
}

.header-content {
  text-align: center;

  padding-block: 2rem;
}

.header-title {
  color: var(--primary-color);
  font-size: clamp(2rem, 5vw, 3rem);
}

.header-subtitle {
  color: var(--sub-text-color);
}
/* Navbar */
nav {
  text-align: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;

  color: var(--nav-text-color);
  background: rgb(236, 235, 235);
  padding: 0.65rem 1.2rem;
  margin: 0.3rem;

  border-radius: 8px;
  box-shadow: var(--card-shadow);

  display: inline-block;
  cursor: pointer;

  transition:
    transform 0.2s,
    box-shadow 0.3s;

  user-select: none;
}

nav a:hover {
  transform: translateY(-5px);
  box-shadow: gray;
}

nav a.active {
  color: var(--light-text-color);
  background-color: var(--seconary-color);
}

/* Main */

.page-title {
  text-align: center; /*ทำให้textอยู่ตรงกลาง*/
}

.pet-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1.5rem;
}

.pet-title {
  margin-bottom: 1.5rem;
}

.pet-card {
  background-color: var(--light-bg-color);
  box-shadow: var(--card-shadow);

  border-radius: 0.75rem;
  overflow: hidden;

  transition: tranform 0.25s;
}

.pet-card:hover {
  transform: translateY(-5px);
}

.pet-card img {
  height: 16.25rem;
  width: 100%;

  object-fit: cover;
}

.pet-content {
  padding: 1.25rem;
}

.pet-card h2 {
  color: var(--primary-dark-color);
}

.breed {
  color: var(--sub-text-color);
}

/* Footer */
footer {
  padding-block: 1.25rem;
  background-color: var(--footer-bg-color);
  text-align: center;
  color: var(--light-text-color);
  margin-top: 1.5rem;
}
